body {
    font-family: 'Merriweather', serif;
    background-color: #fff;
    margin: 0;
}

h1,
h2,
a {
    font-family: 'Raleway', sans-serif;
}


.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url('images/island-hlavicka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 4rem;
}

.titulek {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 4rem;
}

.perex {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 1.6rem;
}

.carecka {
    border-top: 4px solid white;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 2rem;
} 

.autor {
    font-family: 'Merriweather', serif;
    color: white;opacity:0.6;
    font-size: 1.5rem;
}


.galerie{
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    width: 100%;
}

.foto {
    display: flex;
    flex-direction: column;
}

.popisek {
    text-align: center;
    color: grey;
    margin-top: 0.5rem;
}


.paticka a,
.popisek a {
color: grey;
text-decoration: none;
}


footer {
    background: rgb(239,239,239);
    background: linear-gradient(0deg, rgba(239,239,239,1) 81%, rgba(221,221,221,1) 94%);
}

.paticka {
    font-size: 1rem;
    padding: 1.5rem;
    color: grey;
}

.navigace {
 margin: 2rem 0;
}

li {
    text-transform: uppercase;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 0.1px solid #D5D5D5;
    margin: 0 3rem;   
}

a {
 text-decoration: none;
 color: grey;
 font-size: 1rem;
}

ul {
    list-style: none;
}


.p {
    padding:0 1.5rem 1rem;
    margin: 0;
    line-height: 1.8;
    font-size: 0.9rem;
    color:#252525 ;
}

img {
    width: 100%;
}

.island1, 
.island2,
.island3 {
    margin-top: 1.5rem;
}


h2 {
    padding: 1.5rem;
    margin: 0;
}

.dekorace {
    border-top: 3px solid #629edb;
    width: 70px;
    margin-bottom: 2rem;
}

.uvodem,
.proc,
.misto {
    font-family: 'Merriweather', serif;
    padding: 0 1.5rem 1rem;
    margin: 0;
    line-height: 1.8;
    font-size: 0.9rem;
    color:#252525 ;
}

img {
    width: 100%;
}



/* For tablet: 
@media only screen and (min-width: 539px), (max-width:849px) {


    .navigace {
        flex-direction: column;
        display: flex;
        width: 100%;
    }


    .island1,
    .island2,
    .island3 {
    max-height: 50%;}

    .uvodem,
    .proc,
    .misto {
    font-size: 1rem;
      }

      .galerie {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 15vw);
        grid-gap: 0px;
  }
      .paticka {
    font-size: 0.9rem;
    }

}
*/


/* For desktop: 
@media only screen and (min-width: 539px),(max-width:849px) {
    body {
        background-color: rgb(239,239,239);
    }

    .obsah {
        width: 80%;
        margin: auto;
        box-shadow: #A7A7A7;
        box-shadow: 5px 2px 20px #888888;
        transform: translateY(-1.5%);
    }

    .header {
        height: 410px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
        margin: 3.5rem 4rem 0;
    }

    .titulek {
        width: 50vw;
        margin: 1.5rem auto 1rem;
    }

    .perex {
        font-size: 1.5rem;
    }


    .uvod {
        margin: 2rem 1rem 0 0;
    }   

    .navigace {
        flex-direction: column;
        display: flex;
    }
  
    ul {
        text-align: left;
        margin-left: 2rem;
         width: 18vw;   
         padding: 0.8rem;
         transition: all 0.3s ease-in;
    }   

    .uvodem {
        text-align: left;
        margin-left: 2rem;
         width: 18vw;   
         padding: 0.8rem;
         transition: all 0.3s ease-in;
    }   



    .procisland .text {
        width: 72%;
    }    

    .procisland h2, 
    .procisland .text {
        margin-left: 2rem;
    }

    .mista h2,
    .mista p {
        width: 71%;
        margin-left: 22%;
        margin-right: 2rem;
    }    

    .mista .dekorace {
        margin-left: 22%;
        }

    ul {
        display: flex;
        flex-wrap: wrap;
        }
    

    .island1,     
    .island2, 
    .island3 {
        max-height: 40vw;
    }      

    img {
        transition: transform 0.3s ease-in;

    }    

    .foto {
            position: relative;
            margin: 0;
            overflow: hidden;
            cursor: pointer;
    }        

    .obrazky {
        width: calc(100%/3);   
        display: block;
    }    

    .seznamfotek {
        margin: 0;
        font-size: 0;
    }    

    .credit {
        background-color: rgb(50,50,50,0.7);
        position: absolute;
        width: 100%;
        transition: transform 0.3s ease-in;
        transform: translateY(100%);
        bottom: 0;
        
    }     


    .obrazky .copy,
    .obrazky .autor, 
    .credit .copy a{
        color: white;
    }    

    .foto:hover img {
        transform: scale(1.2);
    }    

    .foto:hover .credit {
        transform: translateY(0); 
    }  
} */